---
layout: default
title: Open Source
---

<p>
    I've made substantial contributions to a number of open source
    projects in several areas. The projects below are some of the
    more important contributions.
</p>

<div class="pure-g">
    {% for opensource in site.data.opensource %}
        <div class="pure-u-1">
            <h2>{{ opensource.name }}</h2>
        </div>

        <div class="pure-u-1">
            {% for link in opensource.links %}
                <a href="{{ link.href }}" title="{{ link.title}}" style="margin-right: 10px;"><span class="fa {{ link.icon }} fa-lg" aria-hidden="true"></span>{{ link.name }}</a> 
            {% endfor %}
        </div>

        <div class="pure-u-1">
            {% for para in opensource.content %}
            <p>
                {{ para }}
            </p>
            {% endfor %}
        </div>

    {% endfor %}
</div>