# Jekyll
site/_site/
site/.jekyll-cache/
*.rws

# Ruby
Gemfile.lock

# OS
.DS_Store

# IDE
.vscode
.ruby-lsp

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfvars

# Node.js
node_modules/
infra/cloudflare-worker/dist/