<header id="layout-header">
  <!-- Nav -->
  <nav>
  <div class="custom-wrapper pure-g inset" id="menu">
    <div class="pure-u-1 pure-u-md-2-3">
      <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
      
      <div class="pure-menu pure-menu-horizontal custom-can-transform menu-down">
        {% assign current = page.url | downcase | split: '/' %}

        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/" class="pure-menu-link{% if current.size == 0 %} current{% endif %}">Home</a></li>
          <li class="pure-menu-item"><a href="/about" class="pure-menu-link{% if current.size == 0 %} current{% endif %}">About</a></li>
          <li class="pure-menu-item"><a href="/blog" class="pure-menu-link{% if current.size == 0 %} current{% endif %}">Blog</a></li>
          <li class="pure-menu-item"><a href="/talks" class="pure-menu-link{% if current.size == 0 %} current{% endif %}">Talks</a></li>
          <li class="pure-menu-item"><a href="/portfolio" class="pure-menu-link{% if current.size == 0 %} current{% endif %}">Portfolio</a></li>
          <li class="pure-menu-item"><a href="/opensource" class="pure-menu-link{% if current.size == 0 %} current{% endif %}">Open Source</a></li>
        </ul>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pure-menu pure-menu-horizontal menu-right custom-menu-3">

        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="https://github.com/garretfick" title="View Garret&apos;s code on GitHub" rel="me" class="pure-menu-link"><span class="fa fa-github fa-lg" aria-hidden="true"></span></a></li>
          <li class="pure-menu-item"><a href="https://bitbucket.org/garretfick" title="View Garret&apos;s code on BitBucket" rel="me" class="pure-menu-link"><span class="fa fa-bitbucket fa-lg" aria-hidden="true"></span></a></li>
          <li class="pure-menu-item"><a href="https://linkedin.com/in/garretfick" title="Connect on with Garret on LinkedIn"  rel="me" class="pure-menu-link"><span class="fa fa-linkedin fa-lg" aria-hidden="true"></span></a></li>
        </ul>

      </div>
    </div>
  </div>
  </nav>
</header>
