
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="title" content="">
        <meta name="author" content="Garret Fick">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="http://www.ficksworkshop.com/themes/demo/assets/images/ficksworkshop.png">
        <link href="http://www.ficksworkshop.com/themes/demo/assets/css/vendor.css" rel="stylesheet">
        <link href="http://www.ficksworkshop.com/themes/demo/assets/css/theme.css" rel="stylesheet">
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
    </head>
    <body>
        <!-- Header -->
        <header id="layout-header">
            <!-- Nav -->
            <nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-main-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="http://www.ficksworkshop.com">Home</a></li>
                            <li class="separator hidden-xs"></li>
                            <li class=""><a href="http://www.ficksworkshop.com/about" title="Learn about Garret&apos;s experience">About</a></li>
                            <li class=""><a href="http://www.ficksworkshop.com/blog" title="Read Garret&apos;s blog">Blog</a></li>
                            <li class=""><a href="http://www.ficksworkshop.com/talks" title="Expore Garret&apos;s talks">Talks</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="https://github.com/garretfick" title="View Garret&apos;s code on GitHub" rel="me"><span class="fa fa-github fa-lg" aria-hidden="true"></span></a></li>
                            <li><a href="https://bitbucket.org/garretfick" title="View Garret&apos;s code on Bitbucket" rel="me"><span class="fa fa-bitbucket fa-lg" aria-hidden="true"></span></a></li>
                            <li><a href="https://slideshare.net/garretfick" title="Read previous talks on SlideShare" rel="me"><span class="fa fa-slideshare fa-lg" aria-hidden="true"></span></a></li>
                            <li><a href="https://linkedin.com/in/garretfick" title="Connect on with Garret on LinkedIn"  rel="me"><span class="fa fa-linkedin fa-lg" aria-hidden="true"></span></a></li>
                            <li><a href="https://twitter.com/garretfick" title="Follow Garret on Twitter" rel="me"><span class="fa fa-twitter fa-lg" aria-hidden="true"></span></a></li>
                            <li><a href="https://facebook.com/garret.fick" title="Connect with Garret on Facebook" rel="me"><span class="fa fa-facebook fa-lg" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Content -->
        {{ content }}

        <!-- Footer -->
        <footer id="layout-footer" style="background-color:#000">
            <div id="footer">
                <div class="container">
                    <hr />
                    <p class="muted credit"><a href="http://www.ficksworkshop.com/copyright">&copy; 2012 - 2018 Garret Fick.</a></p>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="http://www.ficksworkshop.com/themes/demo/assets/vendor/jquery.js"></script>
        <script src="http://www.ficksworkshop.com/themes/demo/assets/vendor/bootstrap.js"></script>
        <script src="http://www.ficksworkshop.com/themes/demo/assets/javascript/app.js"></script>
        <script src="/modules/system/assets/js/framework.js"></script>
        <script src="/modules/system/assets/js/framework.extras.js"></script>
        <link rel="stylesheet" property="stylesheet" href="/modules/system/assets/css/framework.extras.css">
        
    </body>
    
    <script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21214642-2']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
    </script>
</html>